*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/AndroidProjectSystem.xml
/.idea/deviceManager.xml
/.idea/markdown.xml
/.idea/runConfigurations.xml
/.omo/run-continuation/ses_0e932095bffecg6V58MwnrKXQT.json
/AGENTS.md
