<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application>

        <service android:name="top.tobin.web.mainprocess.MainProHandleRemoteService" />

        <activity
            android:name="top.tobin.web.WebActivity"
            android:process=":remoteweb"
            android:theme="@style/Web_Activity_Theme" />

    </application>
</manifest>